.navbar-shadow {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

mat-horizontal-stepper{
  margin:0px;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}
.header{
  align-content: center;
  margin-left: 33%;
  
}
.stepperbody{
  margin-top: 3%;
}
h1{
  align-content:center;
  font-size: 31px;
  text-shadow: 1.5px 1.5px gray;
}
h3{
  text-shadow: 0.5px 0.5px gray;

}
p{
  text-shadow: 0.8px 0.8px gray;
  font-size: 14px;
  color: whitesmoke;

}
.fileupload{
  margin-top: 1.5%;
  font-size: 15px;
}
buttondiv
{
  margin-top:10%
}
p{
  font-size: 14px;
}
.node.text{
  font-size: 8px;
}
a{
  margin-top: 3%;
  text-decoration: none;
  color: black;
  background-color: #ffd633;
}



